<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Sample</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="css/login.css">
        <script src="http://cdn.mlkcca.com/v0.2.8/milkcocoa.js"></script>
    <script id="memo-template" type="text/template">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Hello <span v-text="email"></span>. These are your memos.</div>
                <a class="logout-btn pull-right" v-on="click: logout()">ログアウト</a>
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="post-form">
                            <input class="post-form-text" type="text" v-model="new_memo" />
                            <button class="post-form-btn" v-on="click: add_memo()">add memo</button>
                        </div>
                </div>
                <div class="content-memo">
                    <div class="content-memo-item" v-repeat="memos | memo_filter" v-class="content-memo-item-1:color1,content-memo-item-2:color2" v-text="content"></div>
                </div>
            </div>
        </div>
    </script>
    <script id="register-template" type="text/template">
        <div>
        <h2>新規登録</h2>
        <div>
            <input type="email" class="form-item-text" v-model="email" placeholder="Email address" required autofocus>
        </div>
        <div>
            <input type="password" class="form-item-text" v-model="password" placeholder="Password" required>
        </div>
        <div>
            <input type="password" class="form-item-text" v-model="confirm" placeholder="Confirm" required>
        </div>
        <div v-text="message"></div>
        <button class="btn" v-on="click: register()">新規登録</button>
        <a class="link-btn" v-on="click: goto_login_view()">ログインはこちら</a>
        </div>
    </script>

    <script id="login-template" type="text/template">
        <div>
        <h2>ログイン</h2>
        <div>
            <input type="email" class="form-item-text" v-model="email" placeholder="Email address" required autofocus>
        </div>
        <div>
            <input type="password" class="form-item-text" v-model="password" placeholder="Password" required>
        </div>
        <div v-text="message"></div>
        <button class="btn" v-on="click: login()">ログイン</button>
        <a class="link-btn" v-on="click: goto_reg_view()">新規登録はこちら</a>
        </div>
    </script>
    </head>
    <body>
		<div class="container">
            <div id="content">
                <div v-view="currentView"></div>
            </div>
        </div> <!-- /container -->
        <script src="js/lib/vue.min.js"></script>
        <script src="js/login.js"></script>
    </body>

</html>
